#container {
    width: 400px;
    height: 400px;
    border: 2px solid orange;
    position: relative;
}

.square {
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: lightblue;
    cursor: pointer;
}

.square:nth-child(1) {
    background-color: steelblue;
    top: 20px;
    left: 20px;
}

.square:nth-child(2) {
    background-color: navy;
    top: 20px;
    left: 120px;
}

.square:nth-child(3) {
    background-color: limegreen;
    top: 120px;
    left: 20px;
}

.square:nth-child(4) {
    background-color: gold;
    top: 120px;
    left: 120px;
    width: 100px;
    height: 100px;
}